.navbar {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(23, 23, 24, 0.95);
}

.brandMobile {
  width: 100px;
}

.navLinkNosotros {
  margin-right: 5vh;
  margin-left: 2vh;
  text-decoration: none;
}

.brandDesktop {
  width: 12vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.navLinkInicio {
  text-decoration: none;
}

.navLinkVenue {
  margin-left: 4vh;
  margin-right: 2vh;
  text-decoration: none;
}

.navLinkContacto {
  text-decoration: none;
}
