@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@font-face {
  font-family: "Scandia";
  src: url("Scandia/Scandia.otf") format("otf"),
    url("Scandia/Scandia Medium.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: #1c1c1c !important;
}
.padding {
  padding: 4rem;
}

/*rgb(243 255 51);*/
.closeButton{
  display: none;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-repeat: no-repeat, no-repeat;
  background-size: 50% 100%, 58% 100%;
  background-position: left center, right center;
}
.nosotrosHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 34% 100%, 34% 100%, 34% 100%;
  background-position: left center, center center, right center;
}
.nosotrosGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 25% 100%, 50% 100%, 25% 100%;
  background-position: left center, center center, right center;
}
.nuestroEspacio {
  height: 60vh;
  display: flex;
  justify-content: space-between;
}
.titulo {
  font-size: 78px;
}
.nosotrosInfo p {
  margin-left: 22vw;
  padding-top: 5vh;
  font-size: 20px;
}
.imgCasamiento {
  width: 43vw;
  margin-left: 0vw;
  height: 37vh;
}
.divCasamiento img {
  position: absolute;
  left: 10vw;
  top:164vh;
}
.divCasamiento div {
  height: 43vh;
  grid-gap: 16px;
  justify-items: start;
}
/* From uiverse.io by @Custyyyy */
#bottone1 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 9px;
  color: #1c1c1c;
  background: rgb(243 255 51);
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
}

#bottone1:hover {
  box-shadow: 7px 5px 56px -14px #c3d900;
}

#bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #c3d900;
}

.datos {
  background-color: #1c1c1c;
  height: 17rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contactoFooter {
  height: 8rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.datos h1 {
  color: rgb(243 255 51);
  font-size: 2rem !important;
}
.footer {
  color: rgb(243 255 51);
  font-size: 35px !important;
  font-weight: 300;
}
.datos p {
  color: aliceblue;
}
.contactoFooter h1 {
  font-size: 17px !important;
  color: aliceblue;
}
.contactoFooter p {
  color: aliceblue;
}
.nav-link {
  color: #f1f1f18a !important ;
  position: relative;
  z-index: 10;
}
.nav-link:hover {
  color: white !important;
}
.navbar-brand {
  margin-right: 0 !important;
}
.comoLlegar {
  width: 50%;
}
#navInicio .inicio {
  color: #c3d900 !important;
}
#navNosotros .nosotros {
  color: #c3d900 !important;
}
#navEventos .eventos {
  color: #c3d900 !important;
}
#navContacto .contacto {
  color: #c3d900 !important;
}
#navLogo {
  height: 100%;
  width: 100%;
  transform: scale(4);
}
.datos div:hover p {
  color: #c3d900;
}
#logoMobile {
  display: none;
}
.container {
  display: flex;
  justify-content: center !important;
}
.navbar-collapse {
  flex-grow: unset !important;
}
.navbar-nav {
  margin-left: 5vh;
}
.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}
#comoLlegar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#mapa2 {
  width: 50%;
}
#textMapa {
  margin-bottom: 15%;
}
#mapa {
  width: 100%;
}
strong {
  font-size: 22px;
}
a {
  text-decoration: none !important;
}
.fa-instagram {
  color: #1c1c1c;
  background-color: #c3d900;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.homeVideos {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  padding-top: 5%;
}
.homeVideos video {
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 16px 16px 32px #181818, -16px -16px 32px #202020;
  width: 30%;
  filter: grayscale(1);
  border: 3.5px solid rgb(245, 255, 53);
}
.homeVideos video:hover {
  filter: grayscale(0);
}
.imgTorneo img {
  filter: drop-shadow(black 2px 4px 6px);
}
.fa-phone {
  color: #1c1c1c;
  background-color: #c3d900;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.fa-instagram:hover {
  background-color: white;
}
.fa-phone:hover {
  background-color: white;
}
#socialIcons {
  display: flex;
  margin-left: 10%;
}
#socialIcons a {
  padding-left: 5px;
}
.sponsor {
  filter: grayscale(1);
  max-height: 150px;
  max-width: 100px;
}
.contenedor {
  padding-top: 8rem;
  padding-left: 12rem;
}
.canchas {
  height: 50rem;
}
.nuestroEspacio-text{
  grid-gap: 3%;
}
.divOrg{
  display: flex;
  height: 90vh;
}
.divOrg h1{
  font-size: 23px;
  font-weight: 400;
}
.ofrecemos{
  color: white;
  height: 30vh;
  padding-top:5%;
}
.ofrecemos h1 {
  font-size: 30px;
  font-weight: 200;
}
.ofrecemos p {
  font-size: 18px;
  font-weight: 200;
}
.videoButtons{
  position: absolute;
  display: flex;
  justify-content: space-around;
  top:63vw;
  width: 100%;
  height: 60px;
}
.displayNone{
  opacity: 0;
}
.videoButton1{
  opacity: 1;
}
.videoButton2{
  opacity: 1;
}
.videoButton3{
  opacity: 1;
}
.fotos4x4{
  padding: 9%;
  position: relative;
  bottom: 15vw;
}
.fotos4x4 img{
  border-radius: 15px;
  width: 50%;
  padding: 3px;
}
.eventos4x4Cont{
  width: 100%;
  background-color: white;
  margin-top: 7vw;
  height: 56vw;
}
.eventosButton{
  left: 40%;
}
.eventosButton h1{
font-size: 25px !important;
}
@media (max-width: 991px) {
  .eventos4x4Cont{
    height: 70vw;
  }
  .eventosButton h1{
    font-size: 13px !important;
    }
  .ofrecemos h1 {
    font-size: 20px;
    font-weight: 200;
  }
  .ofrecemos p {
    font-size: 13px;
    font-weight: 200;
  }
  .divOrg {
    height: 150vh;
    display: grid !important;
    width: 100%;
  }
  .contt{
    width: 100% !important;
    font-size: 12px;
  }
  .contt h1 {
    font-size: 18px;
  }
  .contt div{
    width: 80% !important;
  }
  .contt2{
    width: 100% !important;
    height: 60vh !important;
  }
  .divCasamiento {
    height: 60vh !important;
    margin: 0 8% 0% 8% !important;
  }
  .textTorneo {
    padding: 5%;
  }
  .imgCasamiento {
    position: absolute !important;
    z-index: -1;
    width: 100% !important;
    height: 60vh;
    left: 0 !important;
    top: initial !important;
    opacity: 0.3;
  }
  .nuestroEspacio-text h1{
    font-size: 28px !important;
  }
  .nuestroEspacio-text p{
    font-size: 15px !important;
  }
  .divCasamiento h1{
    font-size: 28px !important;
  }
  .divCasamiento p{
    color: white !important;
    font-size: 15px !important;
  }
  .divCasamiento div {
    color: white !important;
    z-index: 10;
    background-color: unset !important;
    padding: 15vh 0 0 0 !important;
  }
  .eventosAbout {
    height: 33vh !important;
    padding: 5%;
  }
  .eventosAbout p,
  strong {
    font-size: 14px !important;
  }
  .nuestroEspacio {
    display: grid;
  }
  .nuestroEspacio-text {
    z-index: 10;
    width: 100% !important;
  }
  .nuestroEspacio-img {
    position: absolute;
    opacity: 0.2;
    background-size: 100% 100% !important;
    height: 60vh !important;
    width: 100% !important;
  }
  .container {
    justify-content: space-between !important;
  }
  #bottone1 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #logoMobile {
    display: initial;
    margin-left: 2rem;
  }
  .nosotrosInfo p {
    margin-left: 2rem !important;
    padding-top: 1rem;
    font-size: 18px;
  }
  .nosotrosInfo strong {
    font-size: 15px !important;
  }
  #navLogoA {
    display: none;
  }
  .nav-link {
    margin: 0 !important;
  }
  .home {
    background-size: 100% 50%, 100% 50%;
    background-position: top center, bottom center;
  }
  .nosotrosHome {
    background-size: 100% 34%, 100% 34%, 100% 34%;
    background-position: top center, center center, bottom center;
  }
  .nosotrosGaleria {
    background-size: 100% 34%, 100% 34%, 100% 34%;
    background-position: top center, center center, bottom center;
  }
  .datos {
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    text-align: center;
  }
  #comoLlegar {
    height: auto;
    display: initial;
  }
  #mapa2 {
    width: 100%;
  }
  #textMapa {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .sponsor {
    max-width: 90px;
    min-height: 40px;
  }
  #socialIcons {
    position: relative;
    left: 77%;
    top: -35px;
    margin-left: 0;
  }
  .navbar-nav {
    margin-left: 0;
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 100% !important;
  }
  .textInicio,
  strong {
    font-size: 12px !important;
  }

  .storeButton img {
    margin-right: 0 !important;
    max-width: 140px;
  }
  .contactoFooter {
    display: grid;
    justify-content: center;
    margin-bottom: 13rem;
  }
  .titulo {
    font-size: 25px;
  }
  .imgTorneo {
    display: none;
  }
  .cont {
    height: 5rem !important;
  }
  .cont h1 {
    font-size: 15px !important;
  }
  .cont strong {
    font-size: 15px !important;
  }
  .contenedor {
    padding-top: 10rem;
    padding-left: 0rem;
  }
  .contenedor div {
    width: 100% !important;
    padding: 30px;
    height: 573px !important;
  }
  .contenedorWhite {
    height: 29rem !important;
  }
  .canchas {
    height: 20rem;
  }
  .canchas .titulo {
    top: 4px !important;
    font-size: 44px;
  }
  .imgTorneo div {
    padding-top: 10px;
  }
}
#contact-form {
  border-radius: 37px;
  background: #1c1c1c;
  box-shadow: 16px 16px 32px #181818, -16px -16px 32px #202020;
}
.nosotrosInfo p,
strong {
  color: black;
}
.nosotrosInfo strong {
  font-size: 15px;
}
.homeVideos {
  max-height: 90vh;
}
.activeVideo {
  position: relative;
  bottom: 5vh;
}
@media (max-height: 900px) {
  .closeButton-active{
    display: initial;
    position: absolute;
    z-index: 1000;
    height: 40px;
    width:40px;
    top:83%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    filter:  invert(1) drop-shadow(3px 4px 6px black);
    background-size: 100% 100%;
  }
  .homeVideos video {
    height: 200px;
    border-radius: 18px;
  }

  .textTorneo {
    padding: 5%;
  }
  .canchas #bottone1 {
    padding-top: 0px;
  }
  .activeVideo {
    position: absolute;
    z-index: 999;
    height: 75vh !important;
    width: 90vw !important;
  }
  .imgInicio {
    height: 35vh !important;
  }
  .eventos4x4Cont{
    height: 75vw;
    margin-top: 14vw;
  }
  .fotos4x4{
    padding: 9% 2% 9% 2% ;
    bottom: 20vw;
  }
}
@media (max-height: 667px) {
  .eventosAbout {
    height: 45vh !important;
  }
  .spanAeria {
    height: 17px !important;
  }
  .nuestroEspacio {
    height: 64vh !important;
  }
  .nuestroEspacio-img {
    height: 64vh !important;
  }
}
@media (max-width: 1300px) {
  .imgCasamiento {
    width: 47%;
  }
}
@media (min-width: 1300px) {
  .contenedorTorneo p {
    font-size: 20px;
  }
  .contenedorTorneo strong {
    font-size: 20px;
  }
  
}
@media (min-width: 992px) and (max-width:1300px){
  .divCasamiento div {
    padding: 5vw 5vh 4vw 12vh !important;
  }
  .divCasamiento{
    margin-right: 7vh !important;
  }
  .divCasamiento h1{
    font-size: 28px !important;
  }
  .divCasamiento p{
    font-size: 14px !important;
  }
}
@media (min-width: 1301px) and (max-width:1800px){
  .divCasamiento h1{
    font-size: 31px !important;
  }
  .divCasamiento p{
    font-size: 17px !important;
  }
}
@media (min-width: 2000px) {
  .contenedorTorneo p,
  h1 {
    font-size: 22px;
  }
  .nosotrosInfo {
    height: 25vh !important;
  }
  .nosotrosInfo p {
    font-size: 25px;
  }
  .nosotrosInfo strong {
    font-size: 25px;
  }
  .contenedor p {
    font-size: 20px;
  }
}
@media (min-width: 2200px) {
  .carouselDiv {
    margin-left: 12% !important;
    margin-right: 12% !important;
  }
}
@media (min-width: 2500px) {
  .carouselDiv {
    margin-left: 14% !important;
    margin-right: 14% !important;
  }
  .textTorneo {
    margin-right: 5vw;
  }
  .activeVideo {
    height: 60vh !important;
    width: 60vw !important;
  }
}
@media (min-width:1000px) and (max-width: 1600px){
  .divOrg{
    height: 70vh;
  }
}
@media (min-height:1000px) and (max-width: 991px){
  .contactoFooter{
    margin-right: 40%;
  }
  .eventos4x4Cont{
    height: 63vw;
  }
}