@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@font-face {
  font-family: 'Scandia';
  src: url('Scandia/Scandia.otf') format('otf'),
  url('Scandia/Scandia Medium.otf') format('otf');
  font-style: normal;
  font-weight: normal;
}
body{
  background-color: #1c1c1c !important;
}
.padding{
  padding: 4rem;
}

 /*rgb(243 255 51);*/
 

 .home{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40rem;
   background-repeat: no-repeat, no-repeat;
   background-size: 50% 100%, 58% 100%;
   background-position: left center, right center;
 }
 .nosotrosHome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 34% 100%, 34% 100%,34% 100%;
  background-position: left center, center center, right center;
}
.nosotrosGaleria{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 25% 100%, 50% 100%,25% 100%;
  background-position: left center, center center, right center;
}
.titulo{
  font-size: 78px;
}
.nosotrosInfo p{
  padding-left: 25vh;
  padding-top: 5vh;
  font-size: 20px;
}
 /* From uiverse.io by @Custyyyy */
#bottone1 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 9px;
  color: #1c1c1c;
  background: rgb(243 255 51);
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
 }
 
 #bottone1:hover {
  box-shadow: 7px 5px 56px -14px #C3D900;
 }
 
 #bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #C3D900;
 }

.datos{
  background-color: #1c1c1c;
  height:17rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contactoFooter{
  height:8rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.datos h1{
  color:rgb(243 255 51);
  font-size:2rem !important;
}
.footer{
  color:rgb(243 255 51);
  font-size:35px !important;
  font-weight: 300;
}
.datos p{
  color: aliceblue;
}
.contactoFooter h1{
  font-size: 17px !important;
  color: aliceblue;
}
.contactoFooter p{
  color: aliceblue;
}
.nav-link{
  color: #f1f1f18a !important ;
  position:relative;
  z-index: 10;
}
.nav-link:hover{
  color: white !important;
}
.navbar-brand{
  margin-right: 0 !important;
}
.comoLlegar{
  width: 50%;
}
#navInicio .inicio{
  color: #C3D900 !important;
}
#navNosotros .nosotros{
  color: #C3D900 !important;
}
#navEventos .eventos{
  color: #C3D900 !important;
}
#navContacto .contacto{
  color: #C3D900 !important;
}
#navLogo{
height: 100%;
width:100%;
transform: scale(4);
}
.datos div:hover p{
  color:#C3D900
}
#logoMobile{
  display: none;
}
.container{
  display: flex;
  justify-content: center !important;
}
.navbar-collapse{
  flex-grow: unset !important;
}
.navbar-nav{
  margin-left: 5vh;
}
.navbar-light .navbar-toggler-icon{
  filter: invert(1);
}
#comoLlegar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#mapa2{
  width: 50%;
}
#textMapa{
  margin-bottom: 15%;
}
#mapa{
  width: 100%;
}
strong{
  font-size: 22px;
}
a{
  text-decoration: none !important;
}
.fa-instagram{
 
  color: #1c1c1c;
  background-color: #C3D900;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.homeVideos{
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  padding-top: 5%;
}
.homeVideos video{
object-fit: cover;
border-radius: 25px;
box-shadow:  16px 16px 32px #181818,
-16px -16px 32px #202020;
width: 30%;
filter: grayscale(1);
border: 3.5px solid rgb(245, 255, 53);

}
.homeVideos video:hover{
  filter: grayscale(0);
}
.imgTorneo img{
  filter: drop-shadow(black 2px 4px 6px);
}
.fa-phone{
  color: #1c1c1c;
  background-color: #C3D900;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.fa-instagram:hover{
  background-color: white;
}
.fa-phone:hover{
  background-color: white;
}
#socialIcons{
  display: flex;
  margin-left: 10%;
}
#socialIcons a{
  padding-left: 5px;
}
.sponsor{
  filter: grayscale(1);
  max-height: 150px;
  max-width: 100px;
}
.contenedor{
  padding-top: 8rem;
  padding-left: 12rem;
}
.canchas{
  height: 50rem;
}
@media (max-width: 991px) {

 .container{
   justify-content: space-between !important;
 }
 #bottone1{
  padding-left: 3rem;
  padding-right: 3rem;
 }
 #logoMobile{
  display:initial;
  margin-left: 2rem;
}
.nosotrosInfo p{
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 18px;
}
.nosotrosInfo strong{
  font-size: 15px !important;
}
#navLogoA{
  display: none;
}
.nav-link{
  margin: 0 !important;
}
.home{
  background-size: 100% 50%, 100% 50%;
  background-position: top center, bottom center;
}
.nosotrosHome{
  background-size: 100% 34%, 100% 34%,100% 34%;
  background-position: top center,center center, bottom center;
}
.nosotrosGaleria{
  background-size: 100% 34%, 100% 34%,100% 34%;
  background-position: top center,center center, bottom center;
}
.datos{
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  text-align: center;
}
#comoLlegar{
  height: auto;
  display: initial;
}
#mapa2{
  width: 100%;
}
#textMapa{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.sponsor{
  max-width:90px;
  min-height: 40px;
}
#socialIcons{
  position: relative;
  left: 77%;
  top:-35px;
  margin-left: 0;
}
.navbar-nav{
  margin-left: 0;
}
.container, .container-md, .container-sm{
  max-width: 100% !important;
}
.textInicio, strong{
font-size: 12px !important;
}

.storeButton img{
  margin-right: 0 !important;
  max-width: 140px;
}
.contactoFooter{
  display: grid;
  justify-content: center;
  margin-bottom: 13rem;
}
.titulo{
  font-size: 25px;
}
.imgTorneo{
  display: none;
}
.cont{
  height: 5rem !important;
}
.cont h1{
  font-size: 15px !important;
}
.cont strong{
  font-size: 15px !important;
}
.contenedor{
  padding-top: 10rem;
  padding-left: 0rem;
}
.contenedor div{
  width: 100% !important;
  padding: 30px;
  height: 573px !important;
}
.contenedorWhite{
  height: 29rem !important;
}
.canchas{
  height: 20rem;
}
.canchas .titulo{
  top: 4px !important;
  font-size: 44px;
}
.imgTorneo div{
  padding-top: 10px;
}
}
#contact-form{
  border-radius: 37px;
  background: #1c1c1c;
  box-shadow:  16px 16px 32px #181818,
               -16px -16px 32px #202020;
}
.nosotrosInfo p,strong{
  color: black;
}
.nosotrosInfo strong{
  font-size: 15px;
}
@media (max-height: 900px) {
 .homeVideos video{
   height: 200px;
   border-radius:18px;
 }

  .textTorneo{
    padding: 5%;
  }
  .canchas #bottone1{
    padding-top: 0px;
  }
}
@media (max-height: 667px) {
 
}
